@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*--------- VAR  --------- */
/* -- reset --*/
input {
  padding: 0 0;
  border: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

H1, H2, H3, H4, H5 {
  padding: 0;
  margin: 0;
}

/* --------  */
body {
  margin: 0;
  width: auto;
  background-color: #aaaaaa;
  font-family: "Roboto Light", arial;
  align-content: center;
}

.main_wrapper {
  max-width: 375px;
  min-width: 375px;
  margin: auto;
  /*
  max-width: 80%;
  min-width: 80%;

  */
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 7px 4px -8px #898989;
  -moz-box-shadow: 0 7px 4px -8px #898989;
  box-shadow: 0 7px 4px -8px #898989;
}
.header a {
  width: 100%;
  font-size: 24px;
  font-family: "Shrikhand", cursive;
  margin-top: 18px;
  text-align: center;
}

.locate {
  display: flex;
  height: 50px;
  background-color: #eaeaea;
  font-family: "Roboto Light", arial;
  font-size: 14px;
  font-weight: bold;
}
.locate__content {
  width: 100%;
  margin: 15px 0 15px 0;
  text-align: center;
  font-family: "Roboto Light", arial;
}
.locate__content i {
  width: 30px;
  height: 30px;
  color: #2f2f2f;
}

.reservation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
  background-color: #f6f6f6;
}
.reservation H2 {
  margin: 9px 0 7px 0;
  width: 100%;
  flex: 0 0 100%;
  text-align: center;
  font-family: "Roboto Light", arial;
  font-size: 22px;
  font-weight: bold;
}
.reservation div {
  text-align: center;
  flex: 0 0 100%;
  flex-wrap: wrap;
  width: 100%;
}
.reservation .explore {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}
.reservation .explore a {
  color: #ffffff;
  padding: 12px 15px 12px 15px;
  border-radius: 16px 16px 16px 16px;
  font-family: "Roboto Light", arial;
  font-size: 15px;
  font-weight: bold;
  background: #A95DDB;
  background: -moz-linear-gradient(top, #e671da 0%, #A95DDB 100%);
  background: -webkit-linear-gradient(top, #e671da 0%, #A95DDB 100%);
  background: linear-gradient(to bottom, #e671da 0%, #A95DDB 100%);
  -webkit-box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
}
.reservation .explore a:hover {
  -webkit-box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  opacity: 0.9;
}

.choice_wrapper {
  padding-bottom: 20px;
}
.choice_wrapper > span {
  display: block;
  font-family: "Roboto Light", arial;
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0 20px 10px;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.choice_wrapper .button_wrapper {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choice_wrapper .button_wrapper a {
  flex-wrap: wrap;
  width: 290px;
  height: 60px;
  border-radius: 16px;
  vertical-align: center;
  line-height: 60px;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  font-family: "Roboto Light", arial;
  font-size: 15px;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
}
.choice_wrapper .button_wrapper a:hover {
  -webkit-box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  opacity: 0.9;
}
.choice_wrapper .button_wrapper a .active {
  background-color: #ffbbea;
  /* marche pas ? */
}
.choice_wrapper .button_wrapper a .round {
  border-radius: 50%;
  background: #9356dc;
  color: #fff;
  padding: 2px 7px;
  border-radius: 50%;
  font-size: 15px;
  margin-left: -10px;
}
.choice_wrapper .button_wrapper a i {
  margin-left: 10px;
  color: #7b7b7b;
}
.choice_wrapper .button_wrapper a .text {
  margin-left: 20px;
}

.resto_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #f6f6f6;
}
.resto_wrapper h3 {
  display: block;
  font-family: "Roboto Light", arial;
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0 20px 10px;
  align-self: start;
}
.resto_wrapper .resto_link {
  width: 290px;
  height: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  border-radius: 16px;
}
.resto_wrapper .resto_link:hover {
  -webkit-box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  opacity: 0.9;
}
.resto_wrapper .resto_link .illus_wrapper {
  width: 100%;
  background-color: #ffbbea;
  height: 170px;
  overflow: hidden;
}
.resto_wrapper .resto_link .illus_wrapper img.illus {
  width: 100%;
  object-fit: cover;
}
.resto_wrapper .resto_link__info {
  margin-bottom: 6px;
  width: 100%;
  height: auto;
  position: relative;
}
.resto_wrapper .resto_link__info span.title {
  font-family: "Roboto Light", arial;
  font-size: 17px;
  font-weight: bold;
  float: left;
  margin: 12px 0 0 12px;
  clear: both;
}
.resto_wrapper .resto_link__info span.local {
  margin: 5px 0 10px 12px;
  float: left;
  clear: both;
}
.resto_wrapper .resto_link__info__heart {
  height: 20px;
  width: 20px;
  float: right;
  margin: -5px 5% 0 0;
  display: inline-block;
  color: #b6b6b6;
  font-size: 20px;
}
.resto_wrapper .resto_link__info__heart:hover {
  background: #A95DDB;
  background: -moz-linear-gradient(top, #e671da 0%, #A95DDB 100%);
  background: -webkit-linear-gradient(top, #e671da 0%, #A95DDB 100%);
  background: linear-gradient(to bottom, #e671da 0%, #A95DDB 100%);
}

/* ---------- PAGE 2 MENU -------------- */
.menu {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
.menu .illus_resto {
  width: 100%;
  height: auto;
  clear: both;
}
.menu .illus_resto img {
  width: 100%;
  object-fit: cover;
}
.menu .title {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  margin-top: -27px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  position: relative;
  background-color: #f6f6f6;
}
.menu .title h2 {
  display: inline-block;
  font-size: 24px;
  font-family: "Shrikhand", cursive;
  float: left;
  margin-left: 15px;
  margin-top: 30px;
}
.menu .title i {
  float: right;
  margin-right: 25px;
  margin-top: 30px;
}
.menu .service {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  margin-top: 30px;
  margin-left: 15px;
}
.menu .service:after {
  display: block;
  clear: both;
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  max-width: 250px;
  height: 1px;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
  padding: 4px 0px;
}
.menu .recipe {
  width: 97%;
  max-width: 450px;
  height: auto;
  min-height: 50px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.84);
  border-radius: 16px;
  animation: anim_recipe 1500ms ease-in-out;
}
@keyframes anim_recipe {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu .recipe__content {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.menu .recipe__content h3, .menu .recipe__content span {
  margin: 0 0 0 14px;
  width: 94%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .recipe__content h3 {
  font-size: 17px;
  margin-top: 10px;
}
.menu .recipe__content span {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu .recipe__price {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu .recipe__price span {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.menu .recipe__check {
  display: flex;
  width: 17%;
  margin-right: -17%;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  transition: margin-right 450ms;
}
.menu .recipe__check i {
  font-size: 20px;
  color: #ffffff;
  opacity: 0.3;
}
.menu .recipe:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 9px 19px -13px rgba(0, 0, 0, 0.84);
  opacity: 0.9;
}
.menu .recipe:hover .recipe__check {
  margin-right: 0%;
}
.menu .recipe:hover .recipe__check i {
  opacity: 1;
  transform: rotate(720deg);
  transition: transform 450ms, opacity 750ms;
}

/*-----------------------------------------*/
.footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer__title {
  display: block;
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  margin: 7px 0 5px 10px;
}
.footer ul {
  margin: 7px 0 5px 10px;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer ul li a {
  font-size: 14px;
  color: #ffffff;
}
.footer ul li a i {
  width: 30px;
}

@media screen and (max-width: 992px) and (min-width: 764px) {
  .main_wrapper {
    max-width: 763px;
    min-width: 763px;
    margin: auto;
  }

  .explore {
    margin: 10px 0 10px 0;
    justify-content: flex-start;
  }

  .button_wrapper {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
