
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "var";



/* -- reset --*/

input  {
  padding: 0 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}


a{
  text-decoration: none;
  color: #000000;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}


H1, H2, H3, H4, H5 {
  padding: 0;
  margin: 0;
}



/* --------  */

body {
  margin :0;
  width: auto;
  background-color: #aaaaaa;
  font-family: $font2;
  align-content: center;
}


.main_wrapper {
  max-width: 375px;
  min-width: 375px;
  margin: auto;
  /*
  max-width: 80%;
  min-width: 80%;

  */


  background-color: $back_col1;

}

.header {
  width: 100%;
  height:60px;
  display: flex;
  overflow: hidden;
  @include header-shadow;

  a {
    width:100%;
    font-size: 24px;
    font-family: $font1;
    margin-top: 18px;
    text-align: center;
  }

}


.locate{
  display: flex;
  height:50px;
  background-color: #eaeaea;
  @include text_s2 ;

  &__content {
    width:100%;
    margin: 15px 0 15px 0;
    text-align: center;
    font-family: $font2;
    i {
      width: 30px;
      height: 30px;
      color: #2f2f2f;
    }
  }
}

.reservation {

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
  background-color: $back_col2;

  H2 {
    margin: 9px 0 7px 0;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    @include text_para ;
  }

  div {
    text-align: center;
    flex: 0 0 100%;
    flex-wrap: wrap;
    width: 100%;
    }

  .explore{
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;


    a{
      color: #ffffff;
      padding: 12px 15px 12px 15px;
      border-radius: 16px 16px 16px 16px;
      @include text_s1 ;
      @include grad_explore;
      @include shadow_1;
      &:hover {
        @include shadow_1_hover;
      }

    }

  }

}


.choice_wrapper {

  padding-bottom: 20px;

  >span { // remplacer par first
    display: block;
    @include text_para ;
    margin: 30px 0 20px 10px;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  .button_wrapper {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
      flex-wrap: wrap;
      width: 290px;
      height: 60px;
      border-radius: 16px;
      vertical-align: center;
      line-height: 60px;
      margin-bottom: 15px;
      background-color: #f6f6f6;
      @include text_s1 ;
      @include shadow_1;
      &:hover { @include shadow_1_hover; }

      .active{
        background-color: #ffbbea; /* marche pas ? */
      }

      .round{
        @include round_letter;
        margin-left: -10px;
      }

      i{
        margin-left: 10px;
        color: #7b7b7b;
      }

      .text{
        margin-left: 20px;
      }
    }
  }


}


.resto_wrapper{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: $back_col2;

  h3 {
    display: block;
    @include text_para ;
    margin: 30px 0 20px 10px;
    align-self: start;
  }

  .resto_link{

    width: 290px;
    height:auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;

    @include shadow_1;
    border-radius: 16px;

    &:hover{ @include shadow_1_hover;}

    .illus_wrapper{

      width:100%;
      background-color: #ffbbea;
      height:170px;
      overflow: hidden;

      img.illus{
        width: 100%;
        object-fit: cover;
      }
    }



    &__info{
      margin-bottom: 6px;
      width: 100%;
      height: auto;
      position: relative;

      span.title{
        @include text_s3;
        float: left;
        margin : 12px 0 0 12px;
        clear: both;
      }

      span.local{

        margin : 5px 0 10px 12px;
        float: left;
        clear: both;
      }

      &__heart{
        height: 20px;
        width: 20px;
        float: right;

        margin: -5px 5% 0 0;
        display: inline-block;
        color: #b6b6b6;
        font-size: 20px;

        &:hover{ @include grad_explore;}
      }

    }


  }

}
/* ---------- PAGE 2 MENU -------------- */



.menu {
  width: 100%;
  height: auto;
  background-color: $back_col2;
  padding-bottom: 20px;

  .illus_resto{
    width: 100%;
    height: auto;
    clear: both;

    img{
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    width: 100%;
    height: 60px;
    padding-top: 5px;
    margin-top: -27px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    position : relative;
    background-color: $back_col2;


    h2{
      display: inline-block;
      font-size: 24px;
      font-family: $font1;
      float: left;
      margin-left: 15px;
      margin-top: 30px;
    }

    i{
      float: right;
      margin-right: 25px;
      margin-top: 30px;
    }

  }

  .service{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px;

    &:after {
      display:block;
      clear:both;
      content : "";
      position: relative;
      left    : 0;
      bottom  : 0;
      max-width:250px;
      height  : 1px;
      width   :  50px;
      border-bottom:3px solid $third;
      // margin:0 auto;
      padding:4px 0px;
    }


  }


  .recipe{
    width: 97%;
    max-width: 450px;
    height: auto;
    min-height: 50px;
    margin:auto;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    overflow: hidden;
    background-color: #ffffff;

    @include shadow_1;
    border-radius: 16px;

    
    @keyframes anim_recipe{
      0% {
        transform: translateY(60%);
        opacity : 0;
      }
      100% {
        transform: translateY(0);
        opacity : 1
      }
    }
    animation: anim_recipe 1500ms ease-in-out  ;



    &__content{

      display: flex;
      flex-direction: column;
      width: 80%;

      h3,span{
        margin: 0 0 0 14px;
        width: 94%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h3{
        font-size: 17px;
        margin-top: 10px;
      }

      span{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    }

    &__price{

      width: 17%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      span{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }

    }

    &__check{
      display: flex;
      width: 17%;
      margin-right: -17%;

      background-color: #99E2D0;

      justify-content: center;
      align-items: center;

      i{
        font-size: 20px;
        color: #ffffff;
        opacity: 0.3;
      }

      transition: margin-right 450ms;
      

    }

      //$this: &;   // marche pas , chercher


    &:hover{
      cursor: pointer;
      @include shadow_1_hover ;


      .recipe__check {
        margin-right: 0%;
        i{
          opacity:1;
          transform: rotate(720deg);
          transition: transform 450ms, opacity 750ms ;
        }

      }


    }

  }

}


/*-----------------------------------------*/

.footer {
  width: 100%;
  height:auto;
  margin-top: 20px;
  background-color: #000000;
  color:#ffffff;
  display: flex;
  flex-direction: column;

  &__title{
    display: block;
    font-family: $font1;
    font-size: 17px;
    margin: 7px 0 5px 10px;
  }


  ul{
    margin: 7px 0 5px 10px;
    li{
      margin-bottom: 8px;
      a{
        font-size: 14px;
        color:#ffffff;
        i{
          width: 30px;
        }
      }
    }
  }


}


@media screen and (max-width: 992px) and (min-width: 764px) {

  .main_wrapper {
    max-width: 763px;
    min-width: 763px;
    margin: auto;


  }


  .explore {
    margin: 10px 0 10px 0;
    justify-content: flex-start;
  }



  .button_wrapper {
    flex-direction: row;
  }


  .resto_wrapper{
    //flex-direction: row;
  }


}


